.form-field {
  display: flex;
  flex-direction: column;
}

.form-field__label {
    font-size: 0.75rem;
    color: #999999;
    font-family: Inter;
    font-weight: 500;
}

.form-field__input {
  border: none;
  border-bottom: 1px solid #4a6cf7;
  padding-block: 4px;
  font-size: 1rem;
  background: transparent;
  outline: none;
}

.form-field__error {
  font-size: 0.75rem;
  color: #e74c3c;
}