.chat-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  margin-block-end: 1rem;
  width: 400px;
  height: 100vh;
  overflow-y: auto;
  background-color: $surface-container-color;
}
.sidebar-header {
  padding: 10px;
  background-color: $surface-container-color;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-sizing: border-box;
}
.profile-link {
  align-self: end;
  text-decoration: none;
  font-size: $font-base-size;
  color: $input-color;
}

.chat-item__members-avatar + .chat-item__members-avatar {
  margin-inline-start: -1rem;
}

.chat-item__members-rest-count {
  margin-inline-start: 0.5rem;
}
