$primary-color: #4A6CF7;
$secondary-color: #5b7cfa;
$input-color: #EFEFEF;
$surface-color: #f5f5f5;
$surface-container-color: #E4EDFD;
$surface-spacer-color: #EAEAEA;
$surface-contaniner-high-color: #CDCDCD;
$font-base-name: "Inter";
$font-base-size: 12px;
