@import "@fontsource/inter/500.css";

body {
  font-family: $font-base-name, sans-serif, system-ui;
}

.page--centered {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: $surface-color;
  gap: 16px;
}

.internal-link {
  color: $secondary-color;
  text-decoration: none;
  font-size: 0.9rem;
}

.internal-link--red {
  color: #f00;
}

.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: $primary-color;
  border: none;
  font-weight: $font-accent-weight;
  font-size: $font-title-size;
  height: 37px;
  border-radius: 8px;
  width: 340px;
  padding-block: 10px;
  text-decoration: none;
}

.header {
  margin-block: 20px 40px;
  font-weight: $font-accent-weight;
  font-size: 3rem;
  line-height: 20px;
  text-align: center;
}

.horizontal-spacer {
  border-bottom: $primary-color solid 1px;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined Variable", system-ui;
  font-size: 24px;
  display: inline-block;
}
